.paraghrap{
    margin-top: 110px;
    font-size: 20px;
  
}
.details{
    margin-top: 80px;
}
.buy{
    border: 1px solid #a29bfe;
    box-shadow: 3px 4px 30px 0 #a29bfe83 ;
}
.number{
   background-color: #d1d8e0; 
   height: 80px;
   width: 100px;
   border-radius: 50%;
   margin-left: 137px;
   margin-top: 20px;
}
.class1{
    box-shadow: 3px 4px 30px 0 rgba(234, 232, 232, 0.61); 
    margin-left: 106px;
    height: 500px;
    width: 400px;
}
.class2{
    box-shadow: 3px 4px 30px 0 rgba(234, 232, 232, 0.61); 
    height: 500px;
    width: 400px;
    margin-left: 51px;
}
.class3{
    box-shadow: 3px 4px 30px 0 rgba(234, 232, 232, 0.61); 
    height: 500px;
    width: 400px; 
    margin-right: 30px;
}
.banner1{
    box-shadow: 0 5px 5px 5px rgba(234, 232, 232, 0.61);
}
.one{
    margin-right: 174px;
   
}
.application{
    margin-left: 227px;
    width: 500px;
}
.contact{
    margin-left: 30px;
    margin-top: 66px;
}
